body {
    height: 1080px;
    width: 1440px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 72px 1fr; 
}

.sidebar { 
    grid-column: 1; 
    width: 72px;
    height: 1080px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-right: 1px solid rgba(34,34,34,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
}

.sidebar__icon {
    width: 40px;
    height: 40px;
}

.content {
    grid-column: 2;
    color: #222222;
    width: 474px;
    display: flex;
    flex-direction: column;
    margin: 73px auto 0 auto;
}

.post {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.post__header {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post__user {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 10px;
}

.post__user_avatar {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.post__user_author {
    height: 19px;
    font: 500 14px/18px "Golos Text";
    letter-spacing: -0.15px;
}

.post__user_edit-icon { 
    width: 24px;
    height: 24px;
    margin-left: 312px;
}

.post__image-container {
    width: 474px;
    height: 474px;
    margin-top: 16px;
    position: relative;
}


.post__image-counter {
    position: absolute;
    right: 16px;
    top: 20px;
    width: 44px;
    height: 24px;
    border-radius: 20px;
    color: #fff;
    font: 400 15px/18px "Golos Text";
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.post__footer {
    font: 400 15px/18px "Golos Text";
    letter-spacing: -0.15px;
    margin-top: 16px; 
}

.post__reaction {
    font: 400 15px/18px "Golos Text";
    color: #222222;
    display: inline-flex;
    align-items: center;
    height: 30px;
    padding: 0 12px;
    gap: 3px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    cursor: pointer;
}

.post__caption {
    font: 400 15px/18px "Golos Text";
    color: #222222;
    margin-top: 16px;
}

.post__more {
    font: 400 15px/18px "Golos Text";
    color: #808080;
}

.post__time {
    font: 400 14px/18px "Golos Text";
    color: #808080;
    margin-top: 8px;
    margin-bottom: 20px;
}
