body {
    height: 1080px;
    width: 1440px;
    margin: 0;
    padding: 0;
    display: flex; 
}

.sidebar {  
    width: 72px;
    height: 1080px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-right: 1px solid rgba(34,34,34,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
}

.sidebar__icon {
    width: 40px;
    height: 40px;
}

.content {
    color: #222222;
    width: 474px;
    height: 1338px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 73px;
    margin-left: 482px;
}

.post {
    height: 700px;
    width: 484px;
    margin-top: 16px;
}

.post__header {
    width: 474px;
    height: 32px;
    display: flex;
    flex-direction: row;
}

.post__user {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 10px;
}

.post__user_avatar {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.post__user_author {
    width: 96px;
    height: 19px;
    font: 500 14px/18px "Golos Text";
    letter-spacing: -0.15px;
    vertical-align: middle;
}

.post__user_edit-icon { 
    width: 24px;
    height: 24px;
    margin-left: 312px;
}

.post__image-container {
    width: 474px;
    height: 474px;
    margin-top: 16px;
}


.post__image-counter {
    width: 44px;
    height: 24px;
    border-radius: 20px;
    margin-left: -48px;
    margin-top: 5px;
    color: #fff;
}

.post__footer {
    font: 400 15px/18px "Golos Text";
    letter-spacing: -0.15px;
    width: 474px;
    height: auto; 
    margin-top: 16px; 
}

.post__reaction {
    font: 400 15px/18px "Golos Text";
    color: #222222;
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 8px;
    margin-top: 16px;
    padding-top: 6px;
    padding-left: 12px;
    border: none;
}

.post__caption {
    font: 400 15px/18px "Golos Text";
    color: #222222;
    padding-top: 16px;
}

.post__more {
    font: 400 15px/18px "Golos Text";
    color: #808080;
}

.post__time {
    font: 400 14px/18px "Golos Text";
    color: #808080;
    display: flex;
    margin-top: 8px;
    margin-bottom: 20px;
}
