.login-page {
    width: 1440px;
    height: 1024px; 
    display: flex;
    flex-direction: row;
    gap: 107px;

}

.intro {
    position: relative;
    height: 790px;
    width: 770px;
}
.intro__text {
    font: 700 140px/180px "Golos UI";
    color: #222222;
    Width: 385px;
    Height: 180px;
    top: 182.37px;
    left: 179px;
    position: absolute;
    margin: 0;
    letter-spacing: -1.5px;
    z-index: 2;
}

.intro__picture {
    Width: 462px;
    Height: 501px;
    top: 289px;
    left: 269px;
    position: absolute;
    z-index: 1;
}

.auth-form {
    display: flex;
    flex-direction: column;

    gap: 16px;
    width: 343px;
    margin-top: 415px;
}

.auth-form__field {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.auth-form__field-name {
    font: 400 15px/18px "Golos UI";
    letter-spacing: -0.15px;     
    color: #222222;
}

.auth-form__input {
    box-sizing: border-box;
    width: 343px;
    height: 44px;
    border-radius: 10px;
    padding: 13px 12px 13px 12px;
    background-color: #F2F3F5;
}

.auth-form__input_password {
    padding-right: 35px;
}

.auth-form__input-hide {
    position: relative;

}

.auth-form__label {
    font: 400 13px/16px "Golos UI";
    width: 343px;
    height: 16px;
    letter-spacing: -0.08px; 
    color: #808080;
}

.auth-form__label {
    font: 400 13px/16px "Golos UI";
    width: 343px;
    height: 16px;
    letter-spacing: -0.08px; 
    color: #808080;
}

.auth-form__icon-eye {
    width: 24px;
    height: 24px;
    color: #222222;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 10px;
}

.auth-form__submit {
    width: 343px;
    height: 48px;
    color: #fff;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 10px;
    background-color: #222222;
    font: 500 16px/100% "Golos UI";
    letter-spacing: 0%;
}
