body {
    height: 1080px;
    width: 1440px;
    margin: 0;
    padding: 0;
    display: flex; 
}

.sidebar {  
    width: 72px;
    height: 1080px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-right: 1px solid rgba(34,34,34,0.05);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
}

.sidebar__icon {
    width: 40px;
    height: 40px;
}

.profile {
    height: 1080px;
    width: 1368px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;
}

.profile__avatar {
    width: 123px;
    height: 123px;
    margin-top: 97px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.profile__name {
    font: 500 32px/32px "Golos Text";
    font-weight: 600;
    margin: 0 0 10px 0;
}

.profile__description {
    width: 361px;
    height: auto;
    font: 400 15px/18px "Golos Text";
    letter-spacing: -0.15px;
    text-align: center;
    margin-bottom: 12px;
}

.profile__posts {
    display: flex;
    width: 1002px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2;
    align-items: center;
}

.profile__posts-counter {
    width: 101px;
    height: 30px;
    font: 400 15px/18px "Golos Text";
    letter-spacing: -0.15px;
    text-align: center;
    margin-bottom: 12px;
    background-color: #F2F3F5;
    color: #222222;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.profile__posts-counter {
    width: 101px;
    height: 30px;
    text-align: center;
    margin-bottom: 12px;
    background-color: #F2F3F5;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.profile__posts-number {
    font: 400 15px/18px "Golos Text";
    letter-spacing: -0.15px;
    color: #222222;
    margin-left: 6px;
}

.profile__posts-line {
    display: flex;
    flex-direction: row; 
    gap: 2px;   
}

.profile__posts-photo {
   width: 332px;
   height: 332px;
   object-fit: cover;
   flex-shrink: 0;
}

.profile__icons {
    width: 16px;
    height: 16px;
}

